<div id="formWrap">
	<ul>
		<li><button type="button" onclick="reload('small', true);">basic + familysite</button></li>
		<li><button type="button" onclick="reload('small', false);">basic</button></li>
		<li><button type="button" onclick="reload('wide', true);">wide + familysite</button></li>
		<li><button type="button" onclick="reload('wide', false);">wide</button></li>
	</ul>
</div>